@charset "utf-8";

/*!------------------------------------------------------------------------
 *  [ RESET ]
 *------------------------------------------------------------------------*/
html, body, div, h1, h2, h3, h4, h5, h6,
dl, dt, dd, ul, ol, li,
pre, code, form, fieldset,
legend, input, textarea, p, blockquote, span, b, i
table, caption, tbody, tfoot, thead, tr, th, td,
fieldset, form, label, legend,
iframe, object, small, strong, sub, sup, var,
del, dfn, em, img, ins, kbd, q, samp ,
abbr, address, cite,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video  {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  background: #FFF;
  color: #000;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
  line-height: 100%;
  *font-size: small;
  *font: x-small;
  text-align: center;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  font: 100%;
  font-size: inherit;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight :normal;
  font-style: normal;
}

select, input, button, textarea {
  vertical-align: middle;
  font: 99% arial, helvetica, clean, sans-serif;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

input, textarea, select {
  *font-size: 100%;
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
}

hr {
  display: block;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
}

a {
  margin: 0;
  padding: 0;
  background: transparent;
  vertical-align: baseline;
  font-size: 100%;
}

fieldset, img {
  border: 0;
  vertical-align: bottom;
}
